<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">Log New Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <%= form_for expense, remote: true do |f| %>
      <div class="modal-body">
      <% if expense.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

          <ul>
          <% expense.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class = "row">
        <div class = "col-md-4">
          <div class="form-group">
            <%= f.collection_select :budget_id, Budget.joins(:budget_type).where(budget_types: {budget_type: 'Variable Fixed'}).order(name: :asc), :id, :name, {:prompt => 'Budget'}, {:class => 'custom-select mb-2 mr-sm-2 mb-sm-0'} %>
          </div>
        </div>

        <div class = "col-md-4">
          <div class="form-group">
            <%= f.collection_select :expense_category_id, ExpenseCategory.all, :id, :category, {:selected => params[:category]}, {:class => 'custom-select mb-2 mr-sm-2 mb-sm-0'} %>
          </div>
        </div>

        <div class = "col-md-4">
          <div class="form-group">
            <%= f.text_field :expense_date, :data => {:provide => 'datepicker'}, :placeholder => Date.today, :id => 'expense_datepicker', :value => Date.today, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class = "col-md-4">
          <div class="form-group">
            <%= f.collection_select :expense_owner_id, ExpenseOwner.all, :id, :name, {:prompt => 'Owner'}, {:class => 'custom-select mb-2 mr-sm-2 mb-sm-0'}  %>
          </div>
        </div>

        <div class = "col-md-4">
          <div class="form-group">
            <%= f.text_field :value, :placeholder => '£20.00', :class => 'form-control' %>
          </div>
        </div>
      </div>


      <div class="form-group">
        <%= f.text_field :comment, :html => {:class => 'form-control mb-2 mr-sm-2 mb-sm-0'}, :placeholder => 'Expense Comment', :class => 'form-control' %>
      </div>

      <div class="modal-footer">
      <div class="actions">
        <%= f.submit %>
      </div>
      </div>
      </div>
    <% end %>

    </div>
</div>