<% @expenses.each do |expense| %>
  <tr>
    <th scope="row"><%= link_to expense.budget.name, expense.budget, :remote => true %></th>
    <td><%= link_to expense.expense_category.category, expense.expense_category %></td>
    <td><%= expense.expense_date %></td>
    <td><%= expense.comment %></td>
    <td><%= number_to_currency(expense.value, precision: 2, unit: "£") %></td>
    <td><%= expense.expense_owner.name %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense), remote: true %></td>
    <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>