<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<%= bar_chart Expense.joins(:expense_category).group(:category).order('sum(value) desc').sum(:value), label: "Value" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Budget</th>
      <th>Expense category</th>
      <th>Expense date</th>
      <th>Comment</th>
      <th>Value</th>
      <th>Expense owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <th scope="row"><%= link_to expense.budget.name, expense.budget %></th>
        <td><%= expense.expense_category.category %></td>
        <td><%= expense.expense_date %></td>
        <td><%= expense.comment %></td>
        <td><%= number_to_currency(expense.value, precision: 2, unit: "£") %></td>
        <td><%= expense.expense_owner.name %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
