<div class="col-sm-6">
	<div class="card">
	  <div class="card-block">
	    <h3 class="card-title"><%= link_to budget.name, budget, remote: true %></h3>
	    <h5 class="card-title">Month <%= number_to_currency(budget.expenses.in_period(budget.start_date..budget.end_date).sum(:value), precision: 2, unit: "£") %> / <%= number_to_currency(budget.monthly_value, precision: 2, unit: "£") %></h5>
	    <h5 class="card-title"><%= budget.budget_period.period %> <%= number_to_currency(budget.expenses_in_budget_period.sum(:value), precision: 2, unit: "£") %> / <%= number_to_currency(budget.remaining_in_budget_period, precision: 2, unit: "£") %></h5>
	    
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
</div>